{% extends 'base.html.twig' %}

{% block contenu %}
{% block titrePage %}
    <h1>Créer une nouvelle formation</h1>
{% endblock %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste des formations</a>
{% endblock %}
