{% extends 'base.html.twig' %}

{% block title %}Hello ProStagesController!{% endblock %}


{#
{% block contenuPage %}
<ul>
    <li>
        <a href= "{{path('formations')}}"> Voir les formations </a>
    </li>
    <li>
    <a href= "{{path('entreprises')}}"> Voir les entreprises </a>
    </li>
    <li>
    <a href= "{{path('stages',{id:125})}}"> Voir le stage </a>
    </li>
</ul>

{% endblock %}
#}