{% extends 'base.html.twig' %}



{% block contenu %}
<br />
<center><button class="btn btn-primary"><a href="/creer-stage"><font color="white" >Créer un stage </font></a></button></center>

<div class="row" style="margin-top:15px:">

      {% for stageCourant in stages %}
      
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">"{{stageCourant.titre}}"</h5>
                <p class="card-text">"{{stageCourant.description}}"</p>
                
                <a href="{{path('stages',{id:stageCourant.id})}}" class="btn btn-primary">Voir le stage</a>
              </div>
           </div>
          </div>
      {% endfor %}

</div>

{% endblock %}
